doctype html
html(ng-app='adamAsmaca')
  head
      meta(charset='utf-8')
      title= title
      link(rel='stylesheet', href='/css/reset.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/fira.css')

  body
      block content
      script(src='/components/jquery/jquery.min.js')
      script(src='/components/angular/angular.min.js')
      script(src='/components/angular/angular-route.min.js')
      script(src='/js/app.js')