* {
    letter-spacing: -1px;
}

.fb-like {
    position: absolute!important;
    top: 0;
    right: 0;
}

body {
    font-family: 'Fira Sans';
    font-weight: 500;

    background: #33FFD6;
    background-image: -ms-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -moz-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -o-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33FFD6), color-stop(1, #00A3EF));
    background-image: -webkit-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: linear-gradient(to bottom, #33FFD6 0%, #00A3EF 100%);
    background-size: 100%;
    background-attachment: fixed;
}

p {
    font-size: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 50px;
    color: white;
}

h1.title {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-decoration: underline;
}

h1.result {
    text-align: center;
    letter-spacing: 2px;
}

button {
    border-style:none;
    text-align: center; background-color:#4936D6; color:honeydew;
    font-size: 25px; width: 200px; height: 50px;
}

.buttonContainer { text-align: center; }

.infoContainer {
    width: 100%;
    /*opacity: 0;*/
    /*-webkit-transition: opacity 1s;*/
    /*transition: opacity 1s;*/
    margin-bottom: 20px;
    display: none;
}
.infoContainer.shown { display: block;opacity:1; }

.resultContainer { margin-bottom: 20px; }
.resultContainer p { color: white; text-align: center; margin-bottom: 20px; }
.resultContainer p span { color: #4936D6; }

.buttons {
    width: 50%;
    text-align: center;
    float: left;
}

button.alphabet {
    background: rgba(0,0,0,.1);
    color: white;
    width: 50px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
}

button.alphabet:hover {
    background: rgba(0,0,0,.2);
}

button.alphabet[disabled] {
    background: gray;
    opacity: .5;
}

.numberContainer {
    width: 25%;
    float: left;
}
.numberContainer p {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
}

.numberContainer .numberSection { width: 50%; float: left;}

.numberContainer .numberInfo {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #4936D6;

}

.userList { padding: 10px; background: rgba(0,0,0,.2); border-radius: 3px; position: relative; width: 30%; margin: 0 auto; }
.userList table { width: 100%; }
.userList .table { height: 300px; overflow-x: hidden; overflow-y: auto; }
.userList .header { height: 20px; line-height: 20px; text-align: left; cursor: pointer; }
.userList .header span { float: right; }
.userList h2 { color: white; }
.userList .list {  }
.userList tr { height: 50px; }
.userList td, .userList th { text-align: center; height: 35px; vertical-align: middle; border-bottom: 1px solid black; }
.userList .rank { width: 10%; }
.userList .username { width: 70%; text-align: left; height: 30px; }
.userList .username img { width: 30px; height: 30px; position: relative; top: 2px; border-radius: 50%; }
.userList .score { width: 20%; }
.userList a { text-decoration: none; color: black; top: -10px; position: relative; margin-left: 10px; height: 30px; }
.userList a:hover { color: #4936D6; }

.currentUser {
    position: absolute;
    top: 0;
    margin: 20px;
}

.currentUser img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

.currentUser span.username {
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.currentUser span.username {
    line-height: 50px;
    height: 50px;
}

.currentUser span.icon {
    cursor: pointer;
    float: left;
    position: relative;
    top: 12px;
}

.loginSettings {
    position: relative;
    display: inline-block;
    left: 10px;
    height: 50px;
}

/* Login Box */
.loginBox {
    position: absolute;
    background: rgba(0,0,0,0.1);
    top: 46px;
    width: 198px;
    z-index: 99;
    box-shadow: 0 0 1px 0 black;
}

.loginBox:after, .loginBox:before {
    bottom: 100%;
    left: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.loginBox:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-width: 10px;
    margin-left: -10px;
}

.loginButton {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #4936D6;
    text-align: center;
    /*margin-bottom: 5px;*/
    cursor: pointer;
    color: #f7f7f7;
    text-decoration: none;
}

.loginButton.local {
    width: 88px;
    float: left;
}

.loginButton.local.first {
    margin-right: 2px;
}

.loginButton.facebook {
    background: #3b5998;
}

.loginButton.twitter {
    background: #4099FF;
}

.loginButton.logout {
    margin: 10px;
    width: 178px;
}

.socialLogin {
    padding: 10px;
    float: left;
    width: 178px;
}

.localLogin {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    float: left;
}

.localLogin input {
    background: transparent;
    color: white;
    border: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.3);
    margin-bottom: 5px;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

@media only screen and (max-width : 800px) {
    .userList { display: none; }
    .numberContainer { position: absolute; top: 90px; }
}

@media only screen and (max-width : 640px) {
    canvas { display: none; }
    h1 { margin: 10px 0; }
    h1.title { font-size: 30px; }
    .numberContainer { width: 100%; top: 120px; }
    .buttons { width: 100%; position: fixed; bottom: 0; }
    button.alphabet { width: 40px; height: 40px; font-size: 20px; }
    .resultContainer {
        background: rgb(77, 218, 224);
        z-index: 99;
        position: absolute;
        bottom: 0;
        height: 160px;
        width: 100%;
        padding-top: 20px;
    }
}


/*
.stickmanContainer {
    width: 25%;
    float: left;
}
.stickmanContainer .stickman {
    width: 60px;
}

.stickman .head { height: 50px; width: 50px; border: 4px solid #000000; border-radius: 50%; position: relative; }
.stickman .head .eyes {
    position: absolute;
    top: 9px;
    left: 16px;
}
.stickman .head .eyes span { margin-right: 10px; }
.stickman .head .eyes span.near { margin-right: 4px; }
.stickman .head .mouth {
    width: 24px;
    height: 12px;
    position: absolute;
    top: 26px;
    left: 14px;

    border-radius: 51%;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.stickman .head .mouth.sad {
    border-bottom: 0;
    border-top: 2px solid black;
    top: 33px;
}
.stickman .head .mouth.middle {
    height: 0;
    top: 36px;
}
.stickman .head .mouth.last {
    top: 30px;
    border: 1px solid black;
    left: 13px;
}
.stickman .head .mouth.died {
    top: 30px;
    left: 13px;
    border: 1px solid black;
}
.stickman .head .mouth.died:after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 10px;
    background: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: 5px;
    left: 8px;
    -webkit-transform: rotate(-10deg);
}
.stickman .body { height: 200px; position: relative; }
.stickman .body .line { height: 130px; width: 4px; background: black; position: relative; left: 25px; }
.stickman .body .arms, .stickman .body .legs { position: absolute; top: 10px;}
.stickman .body .legs { top: 124px; }
.stickman .body .arms span,.stickman .body .legs span { width: 4px; height: 40px; background: black; display: inline-block; }
.stickman .body .arms span, .stickman .body .legs span { position: relative; }
.stickman .body .arms span.left, .stickman .body .legs span.left {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    left: 15px;
}
.stickman .body .arms span.right, .stickman .body .legs span.right {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    left: 28px;
}
*/