body {
    font-family: 'Fira Sans';
    font-weight: 500;

    background: #33FFD6;
    background-image: -ms-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -moz-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -o-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33FFD6), color-stop(1, #00A3EF));
    background-image: -webkit-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: linear-gradient(to bottom, #33FFD6 0%, #00A3EF 100%);
    min-height: 700px;
}

p {
    font-size: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 50px;
    color: white;
}

h1.title {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

h1.result {
    text-align: center;
}

button {
    border-style:none;
    text-align: center; background-color:dodgerblue; color:honeydew;
    font-size: 25px; width: 200px; height: 50px;
}

.buttonContainer { text-align: center; }

.infoContainer {
    float: left;
    height: 0; overflow: hidden;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.infoContainer.shown { display: block; height: 400px; }

.resultContainer { height: 0; overflow: hidden;
    -webkit-transition: height 1s;
    transition: height 1s;
}
.resultContainer.shown { height: 400px; }
.resultContainer p { color: white; text-align: center; margin-bottom: 20px; }
.resultContainer p span { color: blue; }

.buttons {
    width: 50%;
    text-align: center;
    float: left;
}

button.alphabet {
    background: rgba(0,0,0,.1);
    color: white;
    width: 50px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
}

button.alphabet:hover {
    background: rgba(0,0,0,.2);
}

button.alphabet[disabled] {
    background: gray;
    opacity: .5;
}

.numberContainer {
    width: 25%;
    float: left;
}
.numberContainer p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

.numberContainer .numberInfo {
    margin: 0 auto;
    width: 60px;
    border: 4px solid darkblue;
    border-radius: 50%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    color: darkblue;
}