* {
    letter-spacing: -1px;
}
body {
    font-family: 'Fira Sans';
    font-weight: 500;

    background: #33FFD6;
    background-image: -ms-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -moz-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -o-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33FFD6), color-stop(1, #00A3EF));
    background-image: -webkit-linear-gradient(top, #33FFD6 0%, #00A3EF 100%);
    background-image: linear-gradient(to bottom, #33FFD6 0%, #00A3EF 100%);
    background-size: 100%;
    background-attachment: fixed;
}

p {
    font-size: 30px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 50px;
    color: white;
}

h1.title {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

h1.result {
    text-align: center;
    letter-spacing: 0;
}

button {
    border-style:none;
    text-align: center; background-color:dodgerblue; color:honeydew;
    font-size: 25px; width: 200px; height: 50px;
}

.buttonContainer { text-align: center; }

.infoContainer {
    float: left;width: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.infoContainer.shown { display: block;opacity:1; }

.resultContainer p { color: white; text-align: center; margin-bottom: 20px; }
.resultContainer p span { color: blue; }

.buttons {
    width: 50%;
    text-align: center;
    float: left;
}

button.alphabet {
    background: rgba(0,0,0,.1);
    color: white;
    width: 50px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
}

button.alphabet:hover {
    background: rgba(0,0,0,.2);
}

button.alphabet[disabled] {
    background: gray;
    opacity: .5;
}

.numberContainer {
    width: 25%;
    float: left;
}
.numberContainer p {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    text-decoration: underline;
    width: 100%;
    font-size: 20px;
}

.numberContainer .numberSection { width: 50%; float: left;}

.numberContainer .numberInfo {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: darkblue;

}

.stickmanContainer {
    width: 25%;
    float: left;
}
.stickmanContainer .stickman {
    width: 60px;
}

.stickman .head { height: 50px; width: 50px; border: 4px solid #000000; border-radius: 50%; position: relative; }
.stickman .head .eyes {
    position: absolute;
    top: 9px;
    left: 16px;
}
.stickman .head .eyes span { margin-right: 10px; }
.stickman .head .eyes span.near { margin-right: 4px; }
.stickman .head .mouth {
    width: 24px;
    height: 12px;
    position: absolute;
    top: 26px;
    left: 14px;

    border-radius: 51%;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.stickman .head .mouth.sad {
    border-bottom: 0;
    border-top: 2px solid black;
    top: 33px;
}
.stickman .head .mouth.middle {
    height: 0;
    top: 36px;
}
.stickman .head .mouth.last {
    top: 30px;
    border: 1px solid black;
    left: 13px;
}
.stickman .head .mouth.died {
    top: 30px;
    left: 13px;
    border: 1px solid black;
}
.stickman .head .mouth.died:after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 10px;
    background: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: 5px;
    left: 8px;
    -webkit-transform: rotate(-10deg);
}
.stickman .body { height: 200px; position: relative; }
.stickman .body .line { height: 130px; width: 4px; background: black; position: relative; left: 25px; }
.stickman .body .arms, .stickman .body .legs { position: absolute; top: 10px;}
.stickman .body .legs { top: 124px; }
.stickman .body .arms span,.stickman .body .legs span { width: 4px; height: 40px; background: black; display: inline-block; }
.stickman .body .arms span, .stickman .body .legs span { position: relative; }
.stickman .body .arms span.left, .stickman .body .legs span.left {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    left: 15px;
}
.stickman .body .arms span.right, .stickman .body .legs span.right {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    left: 28px;
}

