<h1 class="title"> adam asmaca </h1>

<div class="buttonContainer" ng-hide="hideStartButton">
    <button ng-click="start(); hideStartButton = true;"> Başla </button>
</div>


<h1 class="result" ng-bind="result"></h1>

<div class="infoContainer" ng-class="{'shown': questionShown}">
    <div class="numberContainer">
        <div class="numberSection">
            <p> kalan hak </p>
            <div class="numberInfo"> {{trial}} </div>
        </div>
        <div class="numberSection">
            <p> puan </p>
            <div class="numberInfo"> {{wordPoint}} </div>
        </div>
    </div>
    <div class="buttons">
        <button class="alphabet" ng-repeat="char in alphabet" ng-click="check(char); " ng-disabled="userChoices.indexOf(char) > -1 || trial == 0" ng-bind="char"></button>
    </div>
    <div class="stickmanContainer">
        <canvas id="canvas" width="200" height="210"></canvas>
        <!--
        <div class="stickman">
            <div class="head">
                <div class="eyes">
                    <span ng-hide="mouthClass == 'died'">.</span>
                    <span ng-hide="mouthClass == 'died'">.</span>
                    <span class="near" ng-show="mouthClass == 'died'">x</span>
                    <span class="near" ng-show="mouthClass == 'died'">x</span>
                </div>
                <div class="mouth" ng-class="mouthClass"></div>
            </div>
            <div class="body">
                <div class="line"></div>
                <div class="arms">
                    <span class="left"></span>
                    <span class="right"></span>
                </div>
                <div class="legs">
                    <span class="left"></span>
                    <span class="right"></span>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="resultContainer" ng-show="resultShown">
    <div ng-show="isCorrect">
        <p> tebrikler bildin ve <span>{{totalPoints}}</span> puana ulaştın. </p>
        <div class="buttonContainer">
            <button ng-click="nextQuestion()"> sıradaki soru </button>
        </div>
    </div>
    <div ng-show="!isCorrect">
        <p> ne yazık ki bilemedin :( </p>
        <div class="buttonContainer">
            <button ng-click="start()"> yeniden başla </button>
        </div>
    </div>

</div>


<div class="userList">
    <h2> Liderlik Tablosu </h2>
    <table>
        <tr>
            <th class="rank"> Sıra </th>
            <th class="username"> Kullanıcı </th>
            <th class="score"> Puan </th>
        </tr>
    </table>
    <div class="list">
        <table>
            <tr ng-repeat="user in users">
                <td class="rank"> {{$index + 1}} </td>
                <td class="username"> <a ng-href="#/user/{{user.username}}"> {{user.username}} </a> </td>
                <td class="score"> {{user.score}} </td>
            </tr>
        </table>
    </div>
</div>
